


    <hr style="width: 300px;height: 2px;margin: auto;">
   <table style="margin: auto;width: 800px;">
    <div style=margin-left:35%;margin-top:10%;> 
        <ul>
            <li>
                angular
            </li>
            <li>
                Dotnet
            </li>
            <li>
                Java
            </li>
            <li>
                Python
            </li>
        </ul>
<!-- 
<div *ngIf="courses.length>0; then listcourses else nocourses">
</div>
<ng-template #listcourses>
<h1> list of courses</h1>
</ng-template>
<ng-template #nocourses>
    <h1> no courses</h1>
    </ng-template>

<ul>
    <li *ngFor="let course of courses">
        {{courses}}
        </li>
</ul> 
</div>

   </table> -->

			
			