 
<div class="card componentStyle">
    <div class="form-group" style="text-align:right;">
  <a (click)= "addphoto()"data-bs-toggle="modal" data-bs-target="#mpPost" class="btn btn-primary">
    <i class="fa-solid fa-circle-plus"></i>
</a>  
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#albumID</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">url</th>
            
            
            <th scope="col">Action(s)</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let photo of lstphoto| paginate: { itemsPerPage:3, currentPage: p }">
                    <th scope="row">{{photo.albumId}}</th>
                    <td>{{photo.id}}</td>
                    <td>{{photo.title}}</td>
                    <td>{{photo.url}}</td>
                    
                    <td>
         <button (click)="deletephoto(photo.id)" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
         <button (click)="editphoto(photo)" data-bs-toggle="modal" data-bs-target="#mpPost" type="button" class="btn btn-light"><i class="fa-solid fa-pencil"></i></button>
     <button (click)="viewphoto(photo)" data-bs-toggle="modal" data-bs-target="#mpPost" type="button"class="btn btn-info"><i class="fa-solid fa-eye"></i></button> 
                    </td>
                    </tr>
                    </tbody>
                    <tr>
                        <td  class="text-center" colspan="5">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </td>
                    </tr>
                    </table>

<div class="modal fade" id="mpPost" tabindex="-1" aria-labelledby="mpPostTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="mpPostTitle">{{title}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
              </div>
              <div class="modal-body">
                  <form>
                      <div *ngIf="alertmessage" class="alert alert-success" role="alert">
                          {{alertmessage}}
                      </div>
                      <div class="form-group">
 <label for="txtalbumId" class="col-form-label">albumId</label> 
 <input name="txtalbumId"[disabled]="title =='view a photo'" [(ngModel)]="photoModel.albumId" type="number" class="form-control" id="txtalbumId">
                      </div>
                      <div class="form-group">
         <label for="txtid" class="col-form-label">ID</label>
<input name="txtid" [disabled]="title =='view a photo'" [(ngModel)]="photoModel.id" type="text" class="form-control" id="txtid">
          </div>
          <div class="form-group">
            <label for="txtTitle" class="col-form-label">title</label>
 <input name="txttitle"[disabled]="title =='view a photo'"  [(ngModel)]="photoModel.title" type="text" class="form-control" id="txttitle">
         </div> 
         <div class="form-group">
            <label for="txturl" class="col-form-label">url</label>
 <input name="txturl"[disabled]="title =='view a photo'"  [(ngModel)]="photoModel.url" type="text" class="form-control" id="txturl">
         </div>
         </form>
              
              <div class="modal-footer"> 
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" (click)="savephotoDetail()" [hidden]="title =='view a photo'"class="btn btn-primary">Save</button>
              </div>
          </div>
      </div>
</div>








 

  
