
 
      
          
            <table style="margin:auto;width: 800px;">
       <div class="card">
        <div class=" card-header text-center">
           <h2>{{title}}</h2>
       </div>
        <div class="form-control">
     <label for="txtemail"class="form-lable">Emailaddress</label>
 <input [(ngModel)]="emailaddress" id="txtEmail" name="txtEmail" type="text" class="form">
 </div>
 <div class="form-control">
<label for="txtpassword"class="form-lable">password</label>
 <input [(ngModel)]="password" id="txtpassword" name="txtpassword"type="password" class="form">
 </div>
 <div class="form-control">
     <div class="card-footer text-muted text-center">
 <button type="button" (click)="login()"  class="btn btn-primary">login</button>
</div>
</div>
</div>
<td>
</table> 
          
          
      
      

    

      
          