 


  <table style="margin:auto;width: 800px;">
    <tr>
    <td>
      <img  style="border-radius: 50%;" height=150px width=100px src='https://wallpaperaccess.com/full/1398287.jpg'>
    </td>
    <td style="margin-left: 30;">
      <div   style="border-left: 3px solid green;height:120px"></div>
    </td>
    
<div style=margin-left:10%;margin-top:5%;>
    hello  everyone....iam venkatesh bavaji <br> 
    iam a student of angular batch#4

    
</div>
<td>

</td>
</tr>
</table>   
  

   
  









<!-- <tr>

<td style="margin-left: 30;">
  <div   style="border-left: 3px solid green;height: 252px"></div>
</td>
</tr> -->
    
                    
                                                 